.mui-expense-card {
  min-height: 400px !important;
  max-height: 500px !important;
  height: fit-content !important;
}
.mui-card-header,
.mui-card-content {
  padding: 32px 24px 16px !important;
  color: var(--palette-neutral-900) !important;
}

.mui-card-content {
  padding: 16px 8px 8px !important;
  font-weight: 400;
  font-size: 11px;
}

.mui-card-action-button {
  font-size: 0.8rem !important;
  user-select: none !important;
  border-radius: 12px !important;
  color: inherit !important;
  padding: 7px 12px !important;
  text-transform: capitalize !important;
  font-size: 13px !important;
}

.mui-card-action-select {
  margin: 0px !important;
  padding: 8px 32px 8px 6px !important;
}
